#UpperNav {
  background: #56328c;
  border-radius: 0px;
  height: 65px;
  margin-top: 0px;
}
#SideBarNav {
  background: white;
  color: #56328c;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__header {
  background-color: #56328c;
  color: white;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header,
.react-datepicker__day-name {
  color: white;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #00b5ad;
  border-color: #00b5ad;
}

#english-to-nepali {
  width: 100%;
  height: 100px;
}
